*{
    margin: 0;
    padding:0;
}
.arrow {
    border: solid #FF2D55;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .dropbtn {
    
    background-color:#1E1D1F;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
.more {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
}
.moreCars{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 3% 0%
    ;
}